body{
    margin-left: 30px;
    margin-right: 30px;
}

.cabecalho{
    font-family: calibri;
    color:#ffffff
}

.cabecalhodocabecalho{
    text-decoration: line-through;
    height: 200px;
    width: 300px;
    border-radius: 7px;
    border: 1px solid rgb(255, 255, 255); 
}


#flamengocabecalho{
    position: fixed;
    bottom: 0;
    text-decoration: line-through;
    height: 200px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid rgb(255, 255, 255);
}

.card-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.card {
    width: 23%; /*Largura fixa para 4 cards*/
    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 10 10 5px rgb(255, 255, 255);
}

.card h2 {
    font-size: 20px;
    font-family: arial;
    color: #ffffff
}
.card p {
        font-size: 16px;
        color: #ffffff;
}

.historia{
    height: 20%;
    width: 96.5%;
    border-radius: 7px;/*Largura fixa para 4 cards*/
    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 10 10 5px rgb(255, 255, 255);
}

.historia h1{
    text-align: center;
    font-size: 20px;
    font-family: arial;
    color: #ffffff
}

.historia h2{
    font-size: 20px;
    font-family: arial;
    color: #f00c0c
}


.historia p{
    font-size: 16px;
    color: #ffffff;

}

.idolos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.idolos{
    text-align: center;
    height: 20%;
    width: 96.5%;
    border-radius: 7px;/*Largura fixa para 4 cards*/
    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 10 10 5px rgb(255, 255, 255);
}

.idolos h1{
    text-align: center;
    font-size: 20px;
    font-family: arial;
    color: #ffffff;
}

.idolos h2{
    font-size: 20px;
    font-family: arial;
    color: #f00c0c;

}


.idolos p{
    font-size: 16px;
    color: #ffffff;
    text-align: center;

}

.idolos_cards{
        width: 23%; /*Largura fixa para 4 cards*/
        background-color: #f7f6f6;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 10 10 5px rgb(255, 255, 255);
}

.idolos_cards h2 {
    font-size: 20px;
    font-family: arial;
    color: #f00c0c
}

.idolos_cards p{
    font-size: 16px;
    color: #ffffff;
}


.card-conteiner1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.card1 {
    width: 18%; /*Largura fixa para 4 cards*/
    background-color: #fff;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 10 10 5px rgb(54, 52, 52);
}

.card1 h2 {
    text-align: center;
    font-size: 20px;
    font-family: arial;
    color: #000000
}
.card1 p {
        font-size: 16px;
        color: #000000;
}

#imagemidolos{
    image-resolution: 1000%;
    text-decoration: line-through;
    height: 200px;
    width: 150px;
    border-radius: 7px;
    border: 1px solid rgb(253, 0, 0);
}
.titulos{
    text-align: center;
    height: 10%;
    width: 98%;
    border-radius: 7px;/*Largura fixa para 4 cards*/
    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    box-shadow: 10 10 5px rgb(255, 255, 255);
}

.titulos h1{
    text-align: center;
    font-size: 20px;
    font-family: arial;
    color: #ffffff;
}
.card-conteiner2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top: -30px;
    margin-bottom: 2px;
}

.card2 {
    width: 20%; /*Largura fixa para 4 cards*/
    background-color: #fff;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    box-shadow: 10 10 5px rgb(54, 52, 52);
}

.card2 h2 {
    text-align: center;
    font-size: 20px;
    font-family: arial;
    color: #000000
}
.card2 p {
        font-size: 16px;
        color: #000000;
}

#imagemtitulos{
    image-resolution: 1000%;
    text-decoration: line-through;
    height: 200px;
    width: 150px;
    border-radius: 7px;
    border: 1px solid rgb(253, 0, 0);
}

.direito{
    text-align: center;
    margin-top: 30px;
    text-shadow: 5px 5px 25px rgb(15, 15, 15);
}

#redonda{
    border: 1px solid #000000;
    height: 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%
}
.bordatitulos{
    height: 50%;
    width: 100%;
    border-radius: 7px;
    border: 1px solid rgb(255, 0, 0);
}

#voltarhist p{
    text-align:center;
}
